<div class="card-trip">
  <%= link_to brain_path(brain), class: "text-decoration-none" do %>
      <% if brain.image.attached? %>
        <%= cl_image_tag brain.image.key %>
      <% else %>
        <%= image_tag("vignette8.PNG", alt: "Image de #{brain.competence}" ) %>
      <% end %>
    <h2><%= brain.name %> </h2>
    <p><%= brain.address %> </p>
    <p><%= brain.price %>€</p>
  <% end %>
</div>
