<div class="profil-page">
  <div class="section-presentation">
    <div class="avatar">
      <%= image_tag "avatar-profil.png", class: "pic-profil", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>
    <div class="presentation">
      <h2>Mon Compte</h2>
    </div>
  </div>



  <div class="section1">

    <div class="mybrain">
      <div class="mybrain-title2">
        <h2>Mes cerveaux disponibles à la location</h2>
      </div>


 <div class="brain-cards">

      <% @brains.each do |brain| %>
        <div style="font-size: 10px; min-height: 260px; width: 250px; margin: 20px; padding: 10px;">

          <%= link_to brain_path(brain) do %>
            <div style="text-align: center;">
                <% if brain.image.attached? %>
                <%= cl_image_tag brain.image.key, class: "brain-card-image", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag(src="cerveau1.png",class: "brain-card-image", alt: "Image de #{brain.competence}" ) %>
              <% end %>

            </div>
          <% end %>

          <div style="color: rgb(117, 174, 241); font-size: 15px; font-weight: bold; text-align: center; vertical-align: middle;">
            <%= brain.name %>
          </div>

          <div style="padding: 10px; font-size: 12px; border-radius: 15px; color: #1C4859; background-color: #75AEF1;">
            <div>Adresse : <%= brain.address %></div>
          </div>
        </div>
      <% end %>

    </div>

    </div>

    <div class="info-user">
      <h3>Mes informations utilisateur</h3>
      <div class="info-user-label"><%= current_user.first_name %> <%= current_user.last_name %></div>
      <div class="info-user-label"><%= current_user.email %></div>
      <div class="info-user-label"><%= link_to 'Modifier mon mot de passe', edit_user_registration_path, class: 'btn-password-modify' %></div>
    </div>


  </div>

  <div class="mybrain">
    <div class="mybrain-title3">
      <h2>Mes réservations de cerveaux</h2>
    </div>
    <div class="brain-cards">

      <% @bookings.each do |booking| %>
        <div style="font-size: 12px; min-height: 260px; width: 250px; margin: 20px; padding: 10px;">

          <%= link_to booking_path(booking) do %>
            <div style="text-align: center;">
              <% if booking.brain.image.attached? %>
                <%= cl_image_tag booking.brain.image.key, class: "brain-card-image", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag(src="cerveau1.png",class: "brain-card-image", alt: "Image de #{booking.brain.competence}" ) %>
              <% end %>
            </div>
          <% end %>

          <div style="color: rgb(117, 174, 241); font-size: 15px; font-weight: bold; text-align: center; vertical-align: middle;">
            <%= booking.brain.name %>
          </div>

          <div style="padding: 10px; font-size: 12px; border-radius: 15px; color: #1C4859; background-color: #75AEF1;">
            <div>Booking id : <%= booking.id %></div>
            <div>Pick Up location : <%= booking.brain.address%></div>
            <div>Date début : <%= booking.start_date%></div>
            <div>Date fin : <%= booking.end_date%></div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

<div class="mybrain">
  <div class="mybrain-title3">
    <h2>Mes demandes de location</h2>
  </div>

  <div class="brain-cards d-flex flex-wrap">

    <% @offers.each do |offer| %>
      <div style="font-size: 12px; min-height: 260px; width: 250px; margin: 20px; padding: 10px;">
        <div style="text-align: center;">
          <% if offer.brain.image.attached? %>
            <%= cl_image_tag offer.brain.image.key, class: "brain-card-image", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag("cerveau1.png", class: "brain-card-image", alt: "Image de #{offer.brain.competence}") %>
          <% end %>
        </div>
        <div style="color: rgb(117, 174, 241); font-size: 15px; font-weight: bold; text-align: center; vertical-align: middle;">
          <%= offer.brain.name %>
        </div>
        <div style="padding: 10px; font-size: 12px; border-radius: 15px; color: #1C4859; background-color: #75AEF1;">
          <div>offer id : <%= offer.id %></div>
          <div>Pick Up location : <%= offer.brain.address %></div>
          <div>Date début : <%= offer.start_date %></div>
          <div>Date fin : <%= offer.end_date %></div>
          <div>
            <% if offer.confirmation %>
                <button class="btn btn-success" disabled>Demande validée</button>
              <% else %>
                <%= button_to 'Valider la demande', validate_booking_path(offer.id), method: :put, class: 'btn btn-success' %>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




  </div>

</div>
