            <h2> <%= brain.name%> </h2>
            <p> <%= brain.address%> </p>
            <p> <%= brain.longitude%> </p>
            <p> <%= brain.latitude%> </p>
            <p> <%= brain.user_id%> </p>
