<h1>Tous les cerveaux</h1>

<div>
<% @brains.each do |brain|%>
  <h2> <%= brain.name%> </h2>
  <p> <%= brain.address%> </p>
  <p> <%= brain.longitude%> </p>
  <p> <%= brain.latitude%> </p>
  <p> <%= brain.user_id%> </p>
<% end %>
 </div>
