<div class="mybrain-title2 center-title">
  <h2>Découvre tous les cerveaux disponibles à la location!</h2>
</div>

<div class="container d-flex">
  <div class="content flex-grow-1">


    <div class="cards-index d-flex flex-wrap">
      <% @brains.each do |brain| %>
        <div class="card-index">
          <%= link_to brain_path(brain), class: "text-decoration-none" do %>
            <% if brain.image.attached? %>
              <%= cl_image_tag brain.image.key %>
            <% else %>
              <%= image_tag("cerveau1.png", alt: "Image de #{brain.competence}") %>
            <% end %>
            <h2><%= brain.name %></h2>
            <p><%= brain.address %></p>
            <p><%= brain.competence %></p>
            <p><%= brain.price %> € de l'heure</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="map-container" style="width: 50%; height: 600px; position: sticky; top: 20px;">
    <div style="width: 100%; height: 100%;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
