<h1>Creation de cerveau</h1>


<%= simple_form_for (@brain) do |f|%>
<%= f.input :name%>
<%= f.input :price%>
<%= f.input :address%>
<%# <%= f.input :latitude%>
<%# <%= f.input :longitude%>
<%= f.input :competence, collection: Brain::VALID_COMPETENCES, include_blank: "Choisir une compétence" %>
<%= f.input :image, as: :file, label: "Ajouter une image" %>
<%= f.submit%>
<% end %>
