<h1>Création de cerveau</h1>

<div class="form-container">
  <div class="form-scale-log-in">
  <%= simple_form_for (@brain) do |f|%>

  <div class="form-inputs">
  <%= f.input :name, label: "Titre de l'annonce"%>
  <%= f.input :price, label: "Tarif"%>
  <%= f.input :address, label: "Localisation du cerveau"%>
  <%# <%= f.input :latitude%>
  <%# <%= f.input :longitude%>
  <%= f.input :competence, label: "Compétence", collection: Brain::VALID_COMPETENCES, include_blank: "Choisir une compétence" %>
  <%= f.input :image, as: :file, label: "Ajouter une image" %>
  </div>
    <div class="form-actions">
    <%= f.button :submit, "Créer le cerveau", class: "btn btn-primary log-in" %>
  </div>
  </div>
</div>
